.div1{
	background-color: black;
	overflow: hidden;
}
.div2{
	background-color: green;
	height: 800px;
	width: 200px;
}
.div2 button{
	text-decoration: none;
	font-size: 30px;
	padding:60px 50px;
}
.div2 button:hover{
	background-color: red;
}
.div1 a{
	padding: 20px 15px;
	display: block;
	float: left;
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-family: arial;
}
#a1{
	float: right;
	margin-right: 40px;
}
.div1 a:hover, .drpdiv:hover .drpbtn{
	background-color: tomato;
	color: black;
}
.drpdiv{
	float: left;
}
.drpdiv .drpbtn{
	padding: 20px 15px;
	color: white;
	background-color: black;
	border: none;
	outline: none;
	font-size: 20px;
}
.drpcontent{
	display: none;
	position: absolute;
	background-color: orange;
	width: 150px;
}
.drpcontent a{
	display: block;
	float: none;
	color: yellow;
	padding: 12px 16px;
}
.drpdiv:hover .drpcontent{
		display: block;
}
.drpcontent a:hover{
		background-color: red;
		color: black;
}